<h1>Appointments Details</h1>

<ul>
  <li> <%= link to @appointment.patient.name, @appointment.patient %> </li>
  <li> <%= @apppoinment.doctor.name @appointment.doctor %> </li>
  <li> <%= @appointment.appointment_datetime.strftime('%B %d, %Y at %T') %> </li>
</ul>
