<h1>Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor %></h1>
<h2>Patient: <%= link_to @appointment.patient.name, @appointment.patient %> </h2>
<h3>Time: <%= @appointment.appointment_datetime.strftime('%B %d, %Y at %T') %></h3>
